.ODupperPanel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.littleProductCarousel {
    max-width: 450px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.littleProductCarouselTrack {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow: hidden;
    transition: 0.3s;

}

.littleProductCarouselImage {
    position: relative;
    transition: 0.3s;
    left: 0px;
}

.littleProductCarouselImage img {

    height: 95px;
    width: 95px;
    border: 1px solid #F4F4F4;

    border-radius: 15px;

    object-fit: none;
}

.littleProductCarouselRight {
    width: 46px;
    height: 46px;
    object-fit: cover;
    position: absolute;
    background-image: url(../../../../../../../public/src/mainarrow-right.svg);
    right: -50px;
    top: 26px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 22px rgba(20, 0, 52, 0.13);

    background-position: center;
    transition: 0.3s;
}

.littleProductCarouselLeft {
    width: 46px;
    height: 46px;
    object-fit: cover;
    position: absolute;
    background-image: url(../../../../../../../public/src/mainarrow-left.svg);
    left: -60px;
    top: 26px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 22px rgba(20, 0, 52, 0.13);

    background-position: center;
    transition: 0.3s;
}

.littleProductCarouselLeft:hover {
    background-image: url(../../../../../../../public/src/RedArrowLeft.svg);
}
.littleProductCarouselRight:hover {
    background-image: url(../../../../../../../public/src/RedArrowRight.svg);
}

.ODUbutton {
    padding: 14px 30px;
    border: 1px solid var(--main-1);
    background: #ffffff;
    border-radius: 15px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-1);
    cursor: pointer;
    transition: 0.3s;
}

.ODUbutton:hover{
    background: var(--red-1);
    color: #ffffff;
}

.ODupperPanelRightButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ODupperPanelRepeatCancel {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.ODupperPanelRight {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 28px;
}