.profile {
    overflow: hidden;
    flex-wrap: nowrap;
    padding-bottom: 2px;


}
.left-arrow {
    position: absolute;
    left: 5px;
    top: 180px;

}
.right-arrow {
    position: absolute;
    right: 5px;
    top: 180px;

}
.relativePosition {
    position: relative;
}