/* MY CARDS */

.profileMyCards {
    margin-top: 36px;
}

.profileMyCardsHeader {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;

    color: var(--black-1)
}

.profileMyCardsContainer {
    width: 100%;
    margin-top: 24px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-block: 20px;
    padding-inline: 14px;
    transition: 0.3s;
}

.profileSingleCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 250px;

    background: #FFFFFF;

    box-shadow: 0px 0px 22px rgba(20, 0, 52, 0.06);
    border-radius: 15px;

    transition: 0.3s;
    left: 0px;
}

.profileSingleCardBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.profileSingleCard {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #808080;
    min-width: 250px;
}

.profileSingleCardBankName {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: var(--black-1);

}

.profileSingleCardButton {
    position: absolute;
    right: 20px;
    bottom: 20px;

    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.disclaimerLessWidth {
    max-width: 70%;
}

.outerContainer {
    position: relative;
}

.outerContainerLeft-arrow {
    position: absolute;
    left: -42px;
    top: 36px;
    z-index: 2;
}

.outerContainerRight-arrow {
    position: absolute;
    right: -42px;
    top: 36px;
    z-index: 2;
}

.unScrollable {
    display: none;
}

.profileMyCardsBlock {
    max-width: 808px;
}

/* MY CARDS */