.brandname {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FF8B66;
    padding-inline: 20px;
    margin-bottom: 6px;
}
.ratingBlock {
    padding-inline: 18px;

}
.article2-dis {
    overflow:hidden;

    height: 40px;
    padding-right: 18px;
}
.cardPosition {
    position: relative;
    left: 0;
    margin-left: 2px ;
    transition: 0.4s;
}

.backet-btn {
    transition: 0.5s;
}

.productCardNumbers {
    width: 100%;
}

.productCardImage {
    padding: 10px;
    transition: 0.5s;
    height: 258px;
    width: 258px;
}

.productCardImage:hover+.backet-btn.main {
    color: white;
    background-color: var(--red-1);
}

.heart-card {
    width: 25px;
    height: 25px;
    z-index: 3;
}
.productsim-card {
    overflow: hidden;   
}

.productCardCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productsim-card:hover .productCardImage {
    transform: scale(1.07);
    transition: 0.5s;
    z-index: 2;
}
.productsim-card:hover .backet-btn.main {
    color: white;
    background-color: var(--red-1);
}
.ratingBlock {
    padding-inline: 18px !important;
}
