.sidebarAccordion {
    margin-bottom: 16px;
}

.theAccordion {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
}

.h2-arrow {
    position: relative;
}


.rotated {
    transform: rotate(-180deg) !important;

}

.clearCategoryTagsButton {
    position: absolute;
    right: 0;
}

/* MUI */

.css-ahj2mt-MuiTypography-root  {
    padding-left: 12px;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-family: 'montserrat' !important;
    src: local('montserrat'),
        url('../../../../../fonts/montserrat-500.woff2') format('woff2'); 
    padding-top: 1px;
    
}

.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem !important;
}

.css-j9cgry-MuiButtonBase-root-MuiCheckbox-root {
    padding: 5px !important;
}
