input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

* {
    font-family: 'montserrat';
}

.header-flexup {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 108px;
    height: 51px;
    margin-bottom: 6px;

    cursor: pointer;
}

.instead-logo {
    display: none;
}

.flexup-middle {
    display: flex;
    width: 100%;
    max-width: 680px;
    align-items: center;
    position: relative;
}

.catalogue-button {
    width: 123px;
    height: 46px;
    border: none;
    border-radius: 15px;
    background: var(--red-1);
    margin-right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.catalogue-link {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;

    font-weight: 500;
    font-family: 'montserrat';

}

.site-search {
    width: 100%;
    width: 530px;
    border-radius: 15px;

    height: 47px;
    border: var(--red-1) 1px solid;
    padding: 20px 60px;
    /* background-image: url("src/search.svg"); */
    background-repeat: no-repeat;
    background-position: right;
}

.find-button {
    width: 108px;
    height: 46px;
    border: none;
    border-radius: 15px;
    background: var(--red-1);

    position: absolute;
    right: 0px;

    cursor: pointer;
}

.inside-input {
    position: relative;
}

.inside-input .x {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(src/X.svg);
    top: 11px;
    display: block;
    right: 118px;
    cursor: pointer;
}

.inside-input input {
    font-size: 24px;
    color: var(--main-1);
}

.inside-input .search-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(src/search-icon.svg);
    top: 12px;
    display: block;
    right: 490px;
    cursor: pointer;
}

.site-search::placeholder {
    color: #808080;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.inside-input input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.flexup-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    align-items: center;
}

.search-orange {
    display: none;
}

.heart-mobile {
    display: none;
}

.basket-mobile {
    display: none;
}

.backet {
    position: relative;
    display: flex;
}

.backet-number {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30px;
    top: -10px;
}

.flexup-right img {
    cursor: pointer;
}

.header-flexdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.flexdown-left {
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    max-width: 184px;
    width: 100%;
}

.flexdown-left p {
    color: var(--black-1);
    font-size: 16px;
    font-weight: 600;
    /* Добавленный */
    margin-left: 10px;
    white-space: nowrap;
    overflow: visible;
}

.flexdown-right nav ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;

}

.flexdown-right a {
    color: #808080;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.arrow {
    cursor: pointer;
    width: 24px;
}

/* .flexdownright-arrow{
    display: flex;
    justify-content: space-between;
    max-width: 790px;
    width: 100%;
} */
.flexdown-right {
    display: flex;

    align-items: center;
    max-width: 800px;
}
