.product-big {
    position: relative;
    max-height: 410px;
    
}

.productImgZoomed {
    position: absolute;

    width: 400px;
    height: 400px;
    background: rgb(150, 88, 88);
    z-index: 3;
    /* left:375px;
    top: 150px; */
    opacity: 0;
    transition: opacity 0.5s;
    float: right;
    object-fit: cover;

}

.product-big:hover .productImgZoomed{

    opacity: 1;
    display: block;
}

.productImgZoomLens {
    position: absolute;
    border:  1px solid #d4d4d4;
    width: 40px;
    height: 40px;
}
